{% extends 'base_auth.html.twig' %}

{% block body %}
<div class="container">
    <div class="form">
        <h2>Modifier une catégorie</h2><br>
        {{ form_start(form) }}
        {{ form_row(form.name, {'attr': {'class': 'form-control'}}) }}
        <br>
        <input type="submit" class="btn btn-primary mt-3" value="Modifier">
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}